/* Fill me in :) */
@keyframes neonFlicker {
  0% {
    background-color: #1e1e1e;
  }
  50% {
    background-color: #7c2d7c;
  }
  100% {
    background-color: #1e1e1e;
  }
}

.dynamic-background {
  animation: neonFlicker 2s ease-in-out infinite;
  height: 100vh;
}
