.dropdown-container {
    max-width: 500px;
    font-family: Arial, sans-serif;
    margin-right: 50px;  
  }
  
  .dropdown-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
  }

 