.form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .form-container label {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }
  
  .form-input {
    width: 100%;
    padding: 0.5rem;
    font-size: 16px;
  }