.guy-display {
  display: flex;
  flex-direction: column; /* Stack rows vertically */
  justify-content: center; /* Vertically center content */
  align-items: center; /* Horizontally center content */

  position: relative; /* Allow for absolute positioning of selectedGuy */
}

.selected-guy {
  z-index: 10; /* Ensure it appears above other content */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  border-radius: 5px;
  text-align: center;
  min-width: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.guy-row {
  display: flex; /* Align guys in a row */
  justify-content: center; /* Horizontally center the guys within the row */
}
