.guy-display {
  display: flex;
  flex-direction: column; /* Stack rows vertically */
  justify-content: center; /* Vertically center content */
  align-items: center; /* Horizontally center content */
  position: relative;
  top: 60px;
}

.guy-row {
  display: flex; /* Align guys in a row */
  justify-content: center; /* Horizontally center the guys within the row */
}
