/* General Styles */
body {
  font-family: "Zen Dots", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

/* Button to Start Tutorial */
.start-tutorial-button {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1001;
  font-family: "Zen Dots", serif;
  
}

.start-tutorial-button:hover {
  background-color: #0056b3;
}

/* Target Elements */
.tutorial-target {
  margin: 150px 50px;
  padding: 20px;
  background: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* Speech Box */
.speech-box {
  display: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  position: absolute;
  font-family: "Zen Dots", serif;
}

.speech-content {
  margin-bottom: 10px;
  font-family: "Zen Dots", serif;
}

.speech-buttons {
  display: flex;
  justify-content: space-between;
  font-family: "Zen Dots", serif;
}

.speech-buttons button {
  padding: 5px 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Zen Dots", serif;
}

.speech-buttons button:hover {
  background: #0056b3;
}
