/* Styles for the popup overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500; /* Renders above other content */
}

/* Styles for the popup content */
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%; /* Makes it responsive */
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Roboto";
}

/* Button styles */
/* Button styles */
.open-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: rgb(203, 203, 203);
  transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.open-button:hover {
  background-color: rgb(56, 145, 145);
}
/* Pressed effect */
.open-button:active {
  transform: scale(0.95); /* Slightly shrink to simulate sinking */
  background-color: rgb(19, 72, 72); /* Slightly darker for a subtle pressed look */
}

.close-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Zen Dots", serif;
}

.popup-button-container {
  width: 210px;
}

.bolded-words {
  font-family: "Zen Dots", serif;
}

.list-spacing {
  line-height: 1.5;
}

.list-line-spacing {
  line-height: 1;
}

.close-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
