.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9); /* Darker overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 1s ease-out; /* Fade-out effect */
}

.popup.fadeOut {
  opacity: 0;
}

.popupContent {
  color: white;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  max-width: 600px;
  width: 90%;
  opacity: 0;
  transition: opacity 1s ease-in; /* Fade-in effect */
}

.popupContent.show {
  opacity: 1;
}

.button {
  margin-top: 20px; /* Space above the button */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  opacity: 0; /* Invisible initially */
  pointer-events: none; /* Disable interactions while invisible */
  transition: opacity 1s ease-in; /* Fade-in effect */
}

.button.show {
  opacity: 1; /* Fully visible */
  pointer-events: auto; /* Enable interactions */
}

.NavBar-title {
  color: var(--white);
  font-size: 72px;
  text-align: center;
  flex-grow: 1;
  font-family: "Zen Dots", serif;
}

@keyframes pulse {
  0%,
  100% {
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
  }
  50% {
    text-shadow: 0 0 15px #0ff, 0 0 30px #0ff, 0 0 60px #0ff, 0 0 90px #0ff;
  }
}

.neon-text {
  animation: pulse 2s infinite alternate;
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff,
    0 0 100px #0ff;
    font-family: "Zen Dots", serif;
}
