.NavBar-container {
  padding: var(--s) var(--m);
  background-color: var(--primary);
  display: flex;
  align-items: center;
  height: 80px;
}

.NavBar-outer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.NavBar-title {
  color: var(--white);
  font-size: 56px;
  text-align: center;
  flex-grow: 1;
}

.NavBar-linkContainer {
  width: 120px;
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.8;
}


.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}

