.piano {
  display: flex;
  position: relative;
  height: 60px; /* Reduced height */
  width: 100%; /* Full width of the container */
}

.piano-key {
  position: relative;
  display: inline-block;
  width: 25px; /* Reduced width of white keys */
  height: 100%; /* Full height for white keys */
  text-align: center;
}

.piano-key.white {
  background-color: white;
  border: 1px solid black;
}

.piano-key.black {
  background-color: black;
  width: 15px; /* Reduced width of black keys */
  height: 50%; /* Shortened height for black keys */
  position: absolute;
  z-index: 1;
  left: calc(100% - 7px); /* Position black keys between white keys */
  margin-left: -7px; /* Pull black keys slightly left to overlap white keys */
}

.key-label {
  position: absolute;
  bottom: -15px; /* Adjusted to keep labels at the bottom of the key */
  left: 50%;
  transform: translateX(-50%);
  font-size: 8px; /* Reduced font size */
  padding-bottom: 3px;
  z-index: 2;
}

.piano-key.white .key-label {
  color: black; /* Make labels on white keys black */
}

.piano-key.black .key-label {
  color: white; /* Make labels on black keys white */
}
